<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Ardisk </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- Barra de navegación -->
    <header class="navbar">
        <div class="logo">
            <h1>Ardisk</h1>
        </div>
        <nav>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'Discos' %}">Discos</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'Contacto' %}">Contacto</a></li>
            </ul>
        </nav>
    </header>

    {% block '' %}

    <!-- Hero Section -->
    <section class="hero">
        <h2>¡La historia contada a traves de la musica!</h2>
        <p>Explora lo mejor de la música en vinilo, desde los clásicos hasta lo más nuevo. ¡Escucha, disfruta y rompe las reglas!</p>
    </section>

    {% endblock %}

    <!-- Pie de página -->
    <footer>
        <p>&copy; 2024 Vinilos Rebelde | Todos los derechos reservados.</p>
    </footer>
</body>
</html>

